<div class="sidebar d-flex flex-column justify-content-between">
    <nav class="navbar bg-custom navbar-dark">
        <div class="user-profile">
            <div>
                <img src="assets/Images/profile_.png" class="profile-img mb-2" alt="">
            </div>
            <p class="username">{{Name}}</p>
        </div>

        <div class="navbar-nav w-100">
            <a [routerLink]="['/interviewer/home']" class="nav-item nav-link" routerLinkActive="active"><i class="fa fa-home"></i> Home</a>
            <a [routerLink]="['/interviewer/profile']" class="nav-item nav-link" routerLinkActive="active"><i class='fa fa-user-circle'></i> Profile</a>
            <div *ngIf="isManagement">
                <a [routerLink]="['/management/dashboard']" class="nav-item nav-link" routerLinkActive="active"><i class="fa fa-info-circle"></i> Dashboard</a>
            </div>
            <div *ngIf="!isManagement">
                <a [routerLink]="['/interviewer/dashboard']" class="nav-item nav-link" routerLinkActive="active"><i class="fa fa-info-circle"></i> Dashboard</a>
            </div>
            <a [routerLink]="['/interviewer/driveInvites']" class="nav-item nav-link" routerLinkActive="active"><i class="fa fa-calendar-week"></i> Drive Invites</a>
        </div>
    </nav>
    <footer class="navbar navbar-light  ">
        <div class="navbar-nav w-100">
            <a (click)="logout()" [routerLink]="['']" class="nav-item nav-link mb-3" id="logout"><i
                class="fa fa-solid fa-right-from-bracket"></i> Logout
            </a>
        </div>
    </footer>
</div>
<!-- Sidebar End -->

