<div class="sidebar  d-flex flex-column justify-content-between">
    <nav class="navbar bg-custom navbar-dark">
        <div class="user-profile">
            <div>
                <img src="assets/Images/profile_.png" class="profile-img mb-2" alt="Tac_Navbar_Img">
            </div>
            <p class="username">{{Name}}</p>
        </div>

        <div class="navbar-nav w-100">
            <a [routerLink]="['/tac/home']" class="nav-item nav-link" routerLinkActive="active"><i class="fa fa-home"></i> Home</a>
            <a [routerLink]="['/tac/myProfile']" class="nav-item nav-link" routerLinkActive="active"><i class='fa fa-user-circle'></i> Profile</a>
            <a [routerLink]="['/tac/dashboard']" class="nav-item nav-link" routerLinkActive="active"><i class="fa fa-info-circle"></i> Dashboard</a>
            <a [routerLink]="['/tac/managepool']" class="nav-item nav-link" routerLinkActive="active"><i class="fa fa-user-tie"></i> Manage
                Pool</a>
            <a [routerLink]="['/tac/create-invite']" class="nav-item nav-link" routerLinkActive="active"><i class="fa fa-calendar-week"></i> Create
                Invite</a>                
        </div>
    </nav>
    <footer class="navbar navbar-light ">
        <div class="navbar-nav w-100">
            <a (click)="logout()" [routerLink]="['']" class="nav-item nav-link mb-3" ><i
                    class="fa fa-solid fa-right-from-bracket"></i> Logout</a>
        </div>
    </footer>
</div>
<!-- Sidebar End -->

