<app-tac-header></app-tac-header>
<div class="content">
    <!-- Navbar Start -->
    <app-navbar [title]="title"></app-navbar>
    <!-- Navbar End  -->
    <div class="container">
        <div class="card mx-auto">
            <div class="card-body">
                <div class="row m-b-25"> <img src="assets/Images/profile_.png"  class="profile-img"
                        alt="User-Profile-Image">
                </div>
                <div class="row">
                    <h3 class="m-b-20 p-b-5 b-b-default f-w-600"><b>Personal Information</b></h3>

                    <div class="col-sm-6">
                        <p class="m-b-10"><b>Name : </b> {{profile.employeeName}}</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="m-b-10"><b>ACE-Number :</b> {{profile.employeeACEId}}</p>
                    </div>
                    
                    <div class="col-sm-6">
                        <p class="m-b-10"><b>Email ID :</b> {{profile.employeeEmailID}}</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="m-b-10"><b>Role : </b>{{profile.employeeRole}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>