<!-- Sidebar Component  -->
<app-admin-header></app-admin-header>
<!-- Content Start -->
<div class="content">
    <!-- Navbar Starts -->
    <app-navbar [title]="title"></app-navbar>
    <!-- Navbar Ends -->
    <div class="Register CreatePool">
        <div class="card-body"><br>
            <form [formGroup]="AddDepartmentForm" (ngSubmit)="addDepartment()">
                <!--  -->
                <div class="form-input">
                    <label class="form-label " for="Name">Department Name </label>
                    <input type="text" maxlength="25"
                        [class.is-invalid]="(error.length)||(submitted)||AddDepartmentForm.controls['departmentName'].invalid && AddDepartmentForm.controls['departmentName'].touched"
                        type="text" id="Name" class="form-control " formControlName="departmentName">
                </div>
                <div
                    *ngIf="(submitted)||AddDepartmentForm.controls['departmentName'].invalid && AddDepartmentForm.controls['departmentName'].touched">
                    <span class="text-danger"
                        *ngIf="AddDepartmentForm.controls['departmentName'].errors?.['required']">Department name is
                        required</span>
                    <span class="text-danger"
                        *ngIf="AddDepartmentForm.controls['departmentName'].errors?.['minlength']">Department name is
                        too short</span>
                    <span class="text-danger"
                        *ngIf="AddDepartmentForm.controls['departmentName'].errors?.['maxlength']">Department name can't
                        be more than 30 characters</span>
                    <span class="text-danger"
                        *ngIf="AddDepartmentForm.controls['departmentName'].errors?.['pattern'] && !AddDepartmentForm.controls['departmentName'].errors?.['minlength']">Department
                        name cannot contains numbers,symbols ,repeated characters or multiple spaces</span>
                </div>

                <div *ngIf="response.length!==0">
                    <app-snack-bar snackBarMessage={{response}} snackBarAction="Done"></app-snack-bar>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-back">Add</button>
                </div>
                <div>
                    <h3 class="text-center text-danger">{{error}}</h3>
                </div>
            </form>
        </div>
    </div>
    <!-- Footer Starts -->
    <app-footer [BackBtn]=true></app-footer>
    <!-- Footer Ends -->
</div>
<!-- Content Ends -->