<app-tac-header></app-tac-header>

<div class="content">
    <app-navbar [title]="title"></app-navbar>
    <div class="Register mt-5">
        <div class="card-body">
            <form [formGroup]="AddPoolForm" (ngSubmit)="addPool()">
                <div class="form-input"><br>
                    <label class="form-label" for="Department">Department Name</label>
                    <select
                        [class.is-invalid]="(submitted)||AddPoolForm.controls['departmentId'].invalid && AddPoolForm.controls['departmentId'].touched"
                        name="Department" id="Department Name" class="form-select " formControlName="departmentId">
                        <option value="">Select the Department</option>
                        <ng-container *ngFor="let item of data">
                            <option *ngIf="item.departmentName!=='TAC'" value={{item.departmentId}}>
                                {{item.departmentName}} </option>
                        </ng-container>
                    </select>
                </div>
                <div
                    *ngIf="(submitted)||AddPoolForm.controls['departmentId'].invalid && AddPoolForm.controls['departmentId'].touched">
                    <span class="text-danger" *ngIf="AddPoolForm.controls['departmentId'].errors?.['required']">*Choose
                        a Department</span>
                </div>

                <div class="form-input">
                    <label class="form-label" for="Name">Pool Name </label>
                    <input
                        [class.is-invalid]="(submitted)||AddPoolForm.controls['poolName'].invalid && AddPoolForm.controls['poolName'].touched"
                        type="text" id="Name" class="form-control " formControlName="poolName" maxlength="25">
                </div>
                <div
                    *ngIf="(submitted)||AddPoolForm.controls['poolName'].invalid && AddPoolForm.controls['poolName'].touched">
                    <span class="text-danger" *ngIf="AddPoolForm.controls['poolName'].errors?.['required']">*Pool name
                        is required</span>
                    <span class="text-danger" *ngIf="AddPoolForm.controls['poolName'].errors?.['minlength']">*Pool name
                        is too short</span>
                    <span class="text-danger" *ngIf="AddPoolForm.controls['poolName'].errors?.['maxlength']">*Pool name
                        can't be more than 15 characters</span>
                    <span class="text-danger"
                        *ngIf="AddPoolForm.controls['poolName'].errors?.['pattern'] && !AddPoolForm.controls['poolName'].errors?.['minlength']">*Pool
                        name cannot contain numbers or symbols</span>
                </div>

                <div class="span12 text-center">
                    <span class="text-danger">{{error}}</span>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-back"> Add </button>
                </div>
            </form>
            <div *ngIf="response.length!==0">
                <app-snack-bar snackBarMessage={{response}} snackBarAction="Done"></app-snack-bar>
            </div>
        </div>
    </div>
    <app-footer [BackBtn]="true"></app-footer>
</div>