<!-- Title and sidebar Component  -->
<app-admin-header></app-admin-header>
<!-- Sidebar End -->
<div class="content">
    <!-- Navbar Start -->
    <app-navbar [title]="title"></app-navbar>
    <!-- Navbar End -->
    <div class="Register CreatePool">
        <div class="card-body"><br>
            <form [formGroup]="AddRoleForm" (ngSubmit)="addRole()">
                <div class="form-input">
                    <label class="form-label" for="Name">Role Name </label>
                    <input type="text" maxlength="25"
                        [class.is-invalid]="(error.length)||(submitted)||AddRoleForm.controls['roleName'].invalid && AddRoleForm.controls['roleName'].touched"
                        type="text" id="Name" class="form-control " formControlName="roleName">
                </div>
                <div
                    *ngIf="(submitted)||AddRoleForm.controls['roleName'].invalid && AddRoleForm.controls['roleName'].touched">
                    <span class="text-danger" *ngIf="AddRoleForm.controls['roleName'].errors?.['required']">Role name is
                        required</span>
                    <span class="text-danger" *ngIf="AddRoleForm.controls['roleName'].errors?.['minlength']">Role name
                        is too short</span>
                    <span class="text-danger" *ngIf="AddRoleForm.controls['roleName'].errors?.['maxlength']">Role name
                        can't be more than 20 characters</span>
                    <span class="text-danger"
                        *ngIf="AddRoleForm.controls['roleName'].errors?.['pattern'] && !AddRoleForm.controls['roleName'].errors?.['minlength']">Role
                        name cannot contain numbers,symbols,repeated characters or multiple spaces</span>
                </div>
                <div *ngIf="response.length!==0">
                    <app-snack-bar snackBarMessage={{response}} snackBarAction="Done"></app-snack-bar>
                </div>
                <div class="form-check">
                    <br><input class="form-check-input" id="checkboxalignment" type="checkbox" value="true" formControlName="management">
                    <label class="form-check-label" > Is Management </label>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-back">Add</button>
                </div>
                <div>
                    <h3 class="text-center text-danger">{{error}}</h3>
                </div>
            </form>
        </div>
    </div>
    <!-- Footer Component  -->
    <app-footer [BackBtn]=true></app-footer>
</div>
<!-- Content Ends -->