<app-tac-header></app-tac-header>

<div class="content">
    <!-- Navbar Start -->
    <app-navbar [title]="title"></app-navbar>
    <!-- Navbar End -->
     <div class="Register CreatePool">
        <div class="card-body">
            <form [formGroup]="EditPoolForm" (ngSubmit)="EditPool()" >
                <div class="form-input">
                    <label class="form-label" for="Department">Department Name</label>
                    <select name="Department" id="Department Name" class="form-select "  disabled>
                        <option value="">{{_dept}}</option>
                    </select>
                </div>
               
                <div class="form-input">
                    <label class="form-label" for="Name">Pool Name </label>
                    <input [class.is-invalid]="(error.length)||(submitted)||EditPoolForm.controls['poolName'].invalid && EditPoolForm.controls['poolName'].touched" type="text" id="Name" class="form-control " formControlName="poolName" value="{{_pool}}" maxlength="25">
                </div>
                <div *ngIf="(submitted)||EditPoolForm.controls['poolName'].invalid && EditPoolForm.controls['poolName'].touched">
                    <span class="text-danger" *ngIf="EditPoolForm.controls['poolName'].errors?.['required']">*Pool name is required</span>
                    <span class="text-danger" *ngIf="EditPoolForm.controls['poolName'].errors?.['minlength']">*Pool name is too short</span>
                    <span class="text-danger" *ngIf="EditPoolForm.controls['poolName'].errors?.['maxlength']">*Pool name can't be more than 15 characters</span>
                    <span class="text-danger" *ngIf="EditPoolForm.controls['poolName'].errors?.['pattern'] && !EditPoolForm.controls['poolName'].errors?.['minlength']">*Pool name cannot contain numbers or symbols</span>
                </div>

                <div *ngIf="response.length!==0">
                    <app-snack-bar snackBarMessage={{response}} snackBarAction="Done"></app-snack-bar>
                </div>
                <div *ngIf="error.length!==0">
                    <app-snack-bar snackBarMessage={{error}} snackBarAction="Done"></app-snack-bar>
                </div>
                
                <div class="text-center">
                    <button type="submit" class="btn btn-back"> Edit </button>
                </div>
            </form>
        </div>
     </div>
    <app-footer [BackBtn]=true></app-footer>
 </div>