<!-- Title and sidebar Component  -->
<app-admin-header></app-admin-header>

<!-- Content Starts -->
<div class="content">
    <!-- Navbar Start -->
    <app-navbar [title]="title"></app-navbar>

    <!-- Navbar End -->

    <div class="text-center">
        <a [routerLink]="['/admin/location/add']"><button type="button" class="btn btn-filter">Add Location</button></a>
    </div>

    <div class="mt-3 container shadow  bg-body rounded"
        *ngFor="let item of location| paginate: { itemsPerPage: 6, currentPage: page,totalItems:totalLength }">
        <div>
            <div class="card-body">
                <div class="row rone ">
                    <div class="col-md-10" id="text-alignment">
                        <p>{{item.locationName}}</p>
                    </div>

                    <div class="col-md-1">
                        <div class="row">
                            <button (click)="removeLocation(item.locationId, item.locationName)" class="btn"><i class="fa fa-solid fa-trash"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3 sticky-pagination">
        <pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>
    </div>

    <!-- Footer Component Starts -->
    <app-footer></app-footer>
    <!-- Footer Component Ends -->
</div>
<!-- Content Ends -->