<app-interviewer-header></app-interviewer-header>

<div class="content">
    <!-- Navbar Start -->
    <app-navbar [title]="title"></app-navbar>

    <div class="container">
        <div class="card mx-auto">
            <div class="card-body">
                <div class="row m-b-25"> <img src="assets/Images/profile_.png" class="profile-img"
                        alt="User-Profile-Image">
                </div>
                <div class="row">
                    <h3 class="m-b-20 p-b-5 b-b-default f-w-600"><b>INFORMATION</b></h3>

                    <div class="col-sm-6">
                        <p class="m-b-10 f-w-500"><b>Name :</b> {{profile.employeeName}} </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="m-b-10 f-w-500"><b>ACE-Number :</b>{{profile.employeeACEId}}</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="m-b-10 f-w-500"><b>Department :</b> {{profile.employeeDepartment}}</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="m-b-10 f-w-500"><b>Email ID :</b> {{profile.employeeEmailID}}</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="m-b-10 f-w-500"><b>Role :</b> {{profile.employeeRole}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer [BackBtn]=false></app-footer>
</div>