<footer class="sticky-footer">
    <div *ngIf="BackBtn">
        <button class="btn btn-back" (click)="Back()">BACK</button>
    </div>
    <div class="container-fluid text-light footer-background">
        <div class="container">
            <div class="row g-0">
                <div class="col text-center text-md-start">
                    <p class="mb-md-0 text-white">IMS. All
                        Rights
                        Reserved.</p>
                </div>
                <div class="col-md-4 text-center text-md-end">
                    <p class="mb-1 text-white">Designed by Team Alpha<br></p>
                </div>
            </div>
        </div>
    </div>
</footer>