<app-tac-header></app-tac-header>
<div class="content">
    <!-- Navbar Start -->
    <app-navbar [title]="title"></app-navbar>
    <!-- Navbar End -->
    <div class=" mt-3 mb-5 container shadow  bg-body rounded">
        <div class="">
            <div class="card-body">
                <div class="row rone mt-4">
                    <div class="col-md-5">
                        <p><b>Drive Name :</b> {{drive.driveName}} </p>
                        <p><b>Department :</b> {{drive.driveDepartment}} </p>
                        <p><b>Pool :</b> {{drive.drivePool}}</p>
                    </div>
                    <div class="col-md-4">
                        <p><b>Date :</b> {{drive.fromDate}} to {{drive.toDate}} </p>
                        <p><b>Mode :</b> {{drive.driveMode}} </p>
                        <p><b>Location :</b> {{drive.driveLocation}} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="driveResponses.length>0; else ArrayEmpty">
        <div class="mt-3 container shadow  bg-body rounded" *ngFor="let item of driveResponses| paginate: { itemsPerPage: 5, currentPage: page,totalItems:totalLength }">
            <div class>
                <div class="card-body">
                    <div class="row rone">
                        <div class="col-md-2 col-lg-2 col-sm-2 ">
                            <p><strong>ACE Number :</strong> {{item.employeeAceNumber}}</p>
                        </div>
                        <div class="col-md-2 col-lg-2 col-sm-2 ">
                            <p><strong>Name :</strong> {{item.employeeName}}</p>
                        </div>
                        <div class="col-md-2 col-lg-2 col-sm-2 ">
                            <p><strong>Date : </strong> {{item.employeeSlotDate}}</p>
                        </div>
                        <div class="col-md-2 col-lg-2 col-sm-2 ">
                            <p><strong>Time : </strong> {{item.employeeFromTime}} to {{item.employeeToTime}}</p>
                        </div>
                        <div class="col-md-2 col-lg-2 col-sm-2 ">
                            <p><strong>Role :</strong> {{item.employeeRole}}</p>
                        </div>

                        <div class="col-md-2 col-sm-2 col-2 d-flex ">
                            <button (click)="schedule(item.employeeAvailabilityId)"
                                class="btn btn-success">Schedule</button>
                        </div>
                        <div *ngIf="response.length!==0">
                            <app-snack-bar snackBarMessage={{response}} snackBarAction="Done"></app-snack-bar>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3 ">
            <pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>
        </div>
    
    </div>
    
    <ng-template #ArrayEmpty>
        <div class="text-center">
            No {{title}} found.
        </div>
    </ng-template>

    <app-footer [BackBtn]="true"></app-footer>
</div>